
.loading {
  text-align: center;
  margin-top: 0.5rem;
}

.app {
  text-align: center;
}

.btn-calculate-tax {
  background: #1565C0;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.325rem 1.25rem;
  text-decoration: none;
  border: none;
  margin-top: 1.5rem;
}
  
.btn-calculate-tax:hover {
  background: #3cb0fd;
  text-decoration: none;

}

